body {
	margin: 0 !important;
	padding: 0 !important;
}
.banner {
	height: 500px;
	background: url('./banner.jpg') center center no-repeat;
	padding: 20px;

	.about-signin {
		height: 80px;
		width: 100%;
		text-align: right;

		.about, .signin {
			margin-top: 20px;
			padding: 7px;
			text-decoration: none;
			text-transform: uppercase;
			display: inline-block;
		}

		.signin {
			margin-right: 60px;
			margin-left: 25px;
			border: 1px solid green;
			border-radius: 15px;
		}
	}

	.logo {
		background: url('./hapoERP.png') center center no-repeat;		
		margin-top: 40px;
		height: 100px;
	}

	.text {
		text-align: center;
		margin-top: 30px;
		span {
			font-style: italic;
		}
	}

	.btn-start-now {
		text-align: center;

		button {
			text-transform: uppercase;
			padding: 10px 15px;
			border: 1px solid green;
			border-radius: 15px;
			margin-top: 25px;
			cursor: pointer;
		}

	}

	.content-center {
		.left, .center, .right {
			width: 33%;
			display: inline-block;
			text-align: center;
			margin-top: 20px;
			margin-bottom: 20px;

			span {
				display: block;
				font-size: 20px;
			}

			img {
				width: 30px;
				height: 30px;
			}
		}
	}
}




